@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SUSE', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f5f5f5;
}

.corpo {
    margin-left: 5vw;
}

/*SCROLL PRINCIPAL*/
::-webkit-scrollbar {
    width: 10px;
    background-color: #a6a6a6;
  }
  
::-webkit-scrollbar-thumb {
    background-color: #34564b;
  }
  
/*HEADER*/
.header-tela-principal{
    background-color: #ffffff;
    width: 99.4vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-header{
    height: 45px;
    padding-left: 35px;
}

.div-perfil-sair{
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.foto-perfil{
    height: 35px;
    border-radius: 50%;
    margin-right: 18px;
}

.botao-sair{
    height: 45px;
}

.barra-estilo-header{
    border: 2px solid #9cada4;
}

.body-tela-principal{
    background-color: #f5f5f5;
}

.div-header{
    position: fixed;
}

/*MENU LATERAL*/

nav.menu-lateral {
    width: 18vw;
    height: 90vh;
    background-color: #fff;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #164932;
    position: fixed;
    top: 10.5vh;
    left: 0;
    overflow: hidden;
    transition: .5s;
}

ul {
    height: 100%;
    padding: 0;
    list-style-type: none;
}

ul li.item-menu {
    transition: .2s;
}

ul li.ativo {
    background-color: #164932;
    border-radius: 8px 0 0 8px;
}

ul li.item-menu:hover {
    background-color: #575b5a;
    border-radius: 8px 0 0 8px;
}

ul li.item-menu a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    margin-left: 10px;
}

ul li.item-menu a .text-link {
    margin:  5px 0 0 35px;
    transition: .5s;
}

ul li.item-menu a .icon>i {
    font-size: 30px;
}

/*fornecedores*/

.box-fornecedores{
    background-color: rgb(255, 255, 255);
    width: 78vw;
    height: 81vh;
    margin: 100px 0 0 14.8vw;
    border-radius: 8px;
    border: 1px solid rgb(210, 209, 209);
}

#div-fornecedores{
    height: 100vh;
    margin: 11vh 0 0 0;
    border: 1px solid #f5f5f5;
}

.cabecalho-fornecedores{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho-pesquisa-fornecedor{
    display: flex;
    align-items: center;
    width: 22vw;
    margin: 40px 50px 0 0;
}

#btn-pesquisar-fornecedor{
    background-color: #375b49;
    width: 40px;
    height: 25px;
    border-radius: 3px;
    border: none;
}

#btn-pesquisar-fornecedor:hover{
    background-color: #243d31;

}

#btn-adicionar-fornecedor{
    background-color: #375b49;
    width: 40px;
    height: 25px;
    border-radius: 3px;
    border: none;
    color: #fff;
    font-size: 20px;
    margin-left: 20px;
}

#btn-adicionar-fornecedor:hover{
    background-color: #243d31;
}

#campo-pesquisar-fornecedor{
    height: 25px;
    border-radius: 3px;
    border: 1px solid #bfbfbf;
    width: 15vw;
}

.bi-search{
    color: #fff;
}

.div-lista{
    border: 2px solid rgb(32, 102, 33);
    margin: 20px 25px 0px 25px;
    height: 60vh;
}

/*estoque*/

#div-estoque{
    height: 100vh;
    margin-top: 11vh;
    border: 1px solid #f5f5f5;
}

.cabecalho-estoque{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho-pesquisa-estoque{
    display: flex;
    align-items: center;
    width: 22vw;
    margin: 40px 50px 0 0;
}

#btn-pesquisar-estoque{
    background-color: #375b49;
    width: 40px;
    height: 25px;
    border-radius: 3px;
    border: none;
}

#btn-pesquisar-estoque:hover{
    background-color: #243d31;

}

#btn-adicionar-estoque{
    background-color: #375b49;
    width: 40px;
    height: 25px;
    border-radius: 3px;
    border: none;
    color: #fff;
    font-size: 20px;
    margin-left: 20px;
}

#btn-adicionar-estoque:hover{
    background-color: #243d31;
}

#campo-pesquisar-estoque{
    height: 25px;
    border-radius: 3px;
    border: 1px solid #bfbfbf;
    width: 15vw;
}

/*producao*/

#div-producao{
    height: 100vh;
    margin-top: 11vh;
    border: 1px solid #f5f5f5;
}

.cabecalho-producao{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho-pesquisa-producao{
    display: flex;
    align-items: center;
    width: 22vw;
    margin: 40px 50px 0 0;
}

#btn-pesquisar-producao{
    background-color: #375b49;
    width: 40px;
    height: 25px;
    border-radius: 3px;
    border: none;
}

#btn-pesquisar-producao:hover{
    background-color: #243d31;

}

#btn-adicionar-producao{
    background-color: #375b49;
    width: 40px;
    height: 25px;
    border-radius: 3px;
    border: none;
    color: #fff;
    font-size: 20px;
    margin-left: 20px;
}

#btn-adicionar-producao:hover{
    background-color: #243d31;
}

#campo-pesquisar-producao{
    height: 25px;
    border-radius: 3px;
    border: 1px solid #bfbfbf;
    width: 15vw;
}

/*vendas*/

#div-vendas{
    height: 100vh;
    margin-top: 11vh;
    border: 1px solid #f5f5f5;
}

.cabecalho-vendas{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho-pesquisa-vendas{
    display: flex;
    align-items: center;
    width: 22vw;
    margin: 40px 0 0 0;
}

#btn-pesquisar-vendas{
    background-color: #375b49;
    width: 40px;
    height: 25px;
    border-radius: 3px;
    border: none;
}

#btn-pesquisar-vendas:hover{
    background-color: #243d31;

}

#campo-pesquisar-vendas{
    height: 25px;
    border-radius: 3px;
    border: 1px solid #bfbfbf;
    width: 15vw;
}

/*pedidos*/

#div-pedidos{
    height: 100vh;
    margin-top: 11vh;
    border: 1px solid #f5f5f5;
}

.cabecalho-pedidos{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho-pesquisa-pedidos{
    display: flex;
    align-items: center;
    width: 22vw;
    margin: 40px 50px 0 0;
}

#btn-pesquisar-pedidos{
    background-color: #375b49;
    width: 40px;
    height: 25px;
    border-radius: 3px;
    border: none;
}

#btn-pesquisar-pedidos:hover{
    background-color: #243d31;

}

#btn-adicionar-pedidos{
    background-color: #375b49;
    width: 40px;
    height: 25px;
    border-radius: 3px;
    border: none;
    color: #fff;
    font-size: 20px;
    margin-left: 20px;
}

#btn-adicionar-pedidos:hover{
    background-color: #243d31;
}

#campo-pesquisar-pedidos{
    height: 25px;
    border-radius: 3px;
    border: 1px solid #bfbfbf;
    width: 15vw;
}

.box{
    background-color: rgb(255, 255, 255);
    width: 78vw;
    height: 81vh;
    margin: 100px 0 0 14.8vw;
    border-radius: 8px;
    border: 1px solid rgb(210, 209, 209);
}

.imagem-titulo{
    width: 40%;
    margin: 40px 0 0 15px;
}

/*footer*/

.div-footer {
    height: 8vh;
    color: #ffffff;
    background-color: #636262;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    margin-left: 15vw;
}

